<!-- <div class="modal conta">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete button" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="modal_chitiet" class="modal-content"></div>
    </section>
  </div>
</div> -->

<!-- <div id="modal_infor" class="modal">
  <div class="modal-background"></div>
  <header class="modal-card-head">
    <p class="modal-card-title">Modal title</p>
    <button class="delete button" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    <div id="modal_chitiet" class="modal-content box">sdfgd</div>
  </section>
</div> -->
<div class="modal" id="modal_detail">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <span class="icon is-vcentered modal-x button">
        <i class="fa-solid fa-rectangle-xmark has-text-link modal-x button"></i>
      </span>

      <p class="modal-card-title" id="title_modal-card-title_cap1">
        Chi tiết các dãy số
      </p>
      <!-- <button class="delete" aria-label="close"></button> -->
    </header>

    <div id="modal_chitiet" class="modal-card-body" id="section_detail"></div>
    <!-- <footer class="modal-card-foot">
            <div class="buttons">
              <button class="button is-success">Save changes</button>
              <button class="button">Cancel</button>
            </div>
          </footer> -->
  </div>
</div>
