<div id="thongke_auto_tab">
  <div class="tabs is-boxed is-small">
    <ul>
      <li
        class="tab-li is-active"
        tab="tab_thongke"
        tab_child="tab_thongke_auto_5p"
      >
        <a><span>Thống kê 5p</span></a>
      </li>
      <li class="tab-li" tab="tab_thongke" tab_child="tab_thongke_auto_3p">
        <a><span>Thống kê 3p</span></a>
      </li>
    </ul>
  </div>
  <div id="thongke_auto_chitiet_5p"></div>
</div>
