<div id="thongke_manual" class="">
  <div id="thongke_manual_control" class="is-mobile columns is-full">
    <div class="column label title-center-h">SL Phiên</div>
    <div class="column is-2">
      <input
        id="soluongchuky"
        name="soluongchuky"
        class="input is-2"
        value="15"
        type="number"
      />
    </div>
    <div class="column is-1"></div>
    <button id="btn_search" class="button is-small column is-2">Search</button>
    <div class="column label title-center-h"></div>
  </div>
  <div id="thongke_manual_result"></div>
</div>
