<div id="thongke_hientai" class="box">
  <div id="thongke_hientai_title" class="columns is-mobile is-full">
    <div class="column label is-6 thongke_title">9991_000:000</div>
    <div class="column"></div>
    <div class="column is-2">
      <span
        class="icon has-text-link icon-thongke icon-toogle icon-toogle-mini"
        e-thongke-id="thongke_hientai_grid"
        icon-toogle="minimize"
      >
        <i class="fa-solid fa-square-minus"></i>
      </span>
      <span
        class="icon has-text-link icon-thongke is-hidden icon-toogle icon-toogle-maximize"
        e-thongke-id="thongke_hientai_grid"
        icon-toogle="max"
      >
        <i class="fa-solid fa-maximize"></i>
      </span>
    </div>
  </div>

  <div
    id="thongke_hientai_grid"
    class="fixed-grid has-12-cols has-5-cols-mobile table-infor"
  >
    <div class="grid chuaxo"></div>
    <div class="grid daxo"></div>
  </div>
</div>
