<div class="columns is-mobile is-full mybox">
  <div class="is-2">
    <input class="input input-search" id="input_mumber_5p" />
    <div class="button" id="btn_find_mumber_5p">
      <span class="icon has-text-link icon-thongke">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
    <div class="button" id="btn_record_number">
      <span class="icon has-text-link icon-thongke">
        <i class="fa-solid fa-plus"></i>
      </span>
    </div>
  </div>
  <div class="column"></div>
  <div class="column label is-6">
    <div id="title_5p" class="label label-thongke"></div>
  </div>
</div>