<div id="content_thongke_auto_hientai_5p" class="bo">
  <!-- /===================================================================== -->
  <div class="item-thongke">
    <%- include('./thongke_auto_5p_cr'); %>
     <%- include('./thongke_auto_5p_10p'); %>
     <%- include('./thongke_auto_5p_all'); %>
  </div>
</div>
